.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.grid-box>p:first-child{
    background-color: aqua;
}
.grid-box>p {
    background-color: beige;
}
.grid-box-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* row를 작성할때는 높이간격을 따로 주고싶을때 작성*/
    grid-template-rows: 1fr 1fr 2fr;
}
.grid-box-row>p:first-child {
    padding: 30px 0;
}

.grid-box-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 
    template : 갯수만큼 크기지정(그 외의 크기는 auto)
    auto : 모든 row의 오토를 어떻게 할지 지정 
    */
    grid-auto-rows: 1fr;
}
.grid-box-item>p:nth-child(1) {
    grid-column: 1/4;
    border: 1px solid salmon
}
.grid-box-item>p:nth-child(2) {
    grid-row: 2/4;
    border: 1px solid salmon;
}
.grid-box-item>p:nth-child(3) {
    grid-row: 2/4;
    grid-column: 2/4;
    border: 1px solid salmon;
}
.grid-box-item>p:nth-child(4) {
    grid-column: 2/4;
    border: 1px solid salmon;
}
.grid-box-item>p:nth-child(5) {
    grid-column: 1;
    grid-row: 4;
    border: 1px solid salmon;
}
/* grid 실습 확인 */
.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.grid1>.content>.item-image {
    background-image: url(./img/cat.jpg);
    width: 150px;
    height: 200px;
    background-size: cover;
}
.grid1>.content>h4,.grid1>.content>p {
    margin: 0;
    padding: 0;
}
.grid1>.content:hover>.item-image {
    filter: brightness(50%);
    transition: all 0.5s;
}